<div class="user-profile shadow-lg bg-light p-3 rounded-3" *ngIf="user">
  <!-- User Info Section -->
  <div class="row align-items-center">
    <div class="col-12 col-md-6 d-flex align-items-center">
      <img *ngIf="photo" [src]="photo.url ? photo.url : './assets/images/Default.jpg'" [alt]="photo.title"
        class="rounded-circle" style="height: 50px;" />
      <div class="ms-2">
        <h6 class="mb-0">{{user.name}}</h6>
        <p class="mb-0 text-muted">{{user.username}}</p>
      </div>
    </div>
    <div class="col-12 col-md-6 text-md-end text-start mt-3 mt-md-0">
      <a [routerLink]="['/profile']" routerLinkActive="active" class="btn btn-outline-success btn-sm fw-bold"
        style="width: 114px;">View
        Profile</a>
    </div>
  </div>

  <!-- Reporting and Corporate Level Section -->
  <div class="row justify-content-start mt-4">
    <div class="col-12 col-md-6 d-flex align-items-center mb-3 mb-md-0">
      <fa-icon [icon]="userIcon" class="icon"></fa-icon>
      <div class="ms-2">
        <h6 class="mb-0">Reporting To:</h6>
        <p class="mb-0 text-muted">{{user.email}}</p>
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex align-items-center">
      <fa-icon [icon]="faSignal" class="icon"></fa-icon>
      <div class="ms-2">
        <h6 class="mb-0">Corporate Level:</h6>
        <p class="mb-0 text-muted">Level {{levelNumber}}</p>
      </div>
    </div>
  </div>
</div>