<div class="info user-profile">
    <div class="d-flex justify-content-between p-3">
      <div class="d-flex justify-content-between info-part1">
        <img src="./assets/images/Default.jpg" alt="" />
        <div class="info-part1-b ms-2">
          <h6>Ahmad Azmi</h6>
          <p>Junior Accounting Officer</p>
        </div>
      </div>
      <div class="info-part2">
        <a href="./Pages/Profile.html" class="btn btn-view"
          >View Profile</a
        >
      </div>
    </div>
    <div class="d-flex justify-content-start p-3">
      <div class="d-flex justify-content-between info-part3">
        <i class="fa-solid fa-user"></i>
        <div class="info-part3-b ms-2">
          <h6>Reporting To:</h6>
          <p>Salwa Assem</p>
        </div>
      </div>
      <div class="d-flex justify-content-between info-part4">
        <i class="fa-sharp-duotone fa-solid fa-signal"></i>
        <div class="info-part4-b ms-2">
          <h6>Corporate Level:</h6>
          <p>Level 10</p>
        </div>
      </div>
    </div>
</div>