<div class="card">
    <img [src]="photo.url ? photo.url : 'assets/images/NoImage.jpg'" [alt]="photo.title"
        class="card-img-top rounded-circle mx-auto mt-3" style="width: 100px" />
    <div class="card-body text-center">
        <h5 class="card-title">Ahmad Attar</h5>
        <div class="p-3">
            <ul>
                <li class="card-text">Submitted on:</li>
                <li class="card-bold">{{user.address.zipcode || 'N/A'}}</li>
            </ul>
            <ul>
                <li class="card-text">Duration:</li>
                <li class="card-bold">2 Weeks in {{user.address.city || 'N/A'}}</li>
            </ul>
        </div>
        <div class="p-3">
            <ul>
                <li class="card-text">Currently at:</li>
                <li class="card-green">{{user.username || 'No Title'}}</li>
            </ul>
        </div>
    </div>
</div>