<div class="card">
    <img src="../assets/images/Default.jpg" class="card-img-top rounded-circle mx-auto mt-3" alt="User Image"
        style="width: 100px" />
    <div class="card-body text-center">
        <h5 class="card-title">Ahmad Attar</h5>
        <div class="p-3">
            <ul>
                <li class="card-text">Submitted on:</li>
                <li class="card-bold">1/3/2024</li>
            </ul>
            <ul>
                <li class="card-text">Duration:</li>
                <li class="card-bold">2 Weeks (1/4/2023 - 14/4/2023)</li>
            </ul>
        </div>
        <div class="p-3">
            <ul>
                <li class="card-text">Currently at:</li>
                <li class="card-green">Omar Ahmad</li>
            </ul>
        </div>
    </div>
</div>