<!-- Vacation Requests -->
<div class="container mt-4">
    <div class="vacation p-4 pb-0">
        <div class="d-flex justify-content-between flex-wrap gap-3">
            <div class="d-flex justify-content-start align-items-center">
                <i class="fa-solid fa-list-check" aria-hidden="true"></i>
                <h4 class="ms-2">Vacation Requests</h4>
            </div>

            <div class="search-container p-2">
                <app-search-vacation-card [(searchQuery)]="searchQuery"
                    (searchQueryChange)="onSearchChange($event)"></app-search-vacation-card>
            </div>
        </div>
        <hr />
        <!-- Cards Section -->
        <div class="card-deck d-flex flex-wrap gap-5" id="load-data">
            <app-vacation-card *ngFor="let user of filteredUsers | slice:0:4" [user]="user"
                [photo]="photos[user.id - 1]" />
        </div>

        <app-view-more />
    </div>
</div>