<app-navbar></app-navbar>
<!-- Vacation Requests -->
<div class="container mt-4">
    <!-- Vacation Requests Header -->
    <div class="p-4 pb-0">
        <app-title></app-title>

        <!-- Cards Section -->
        <div class="card-deck d-flex flex-wrap gap-5" id="load-data">
            <app-card-vacation-requests></app-card-vacation-requests>
            <app-card-vacation-requests></app-card-vacation-requests>
            <app-card-vacation-requests></app-card-vacation-requests>
            <app-card-vacation-requests></app-card-vacation-requests>
            <app-card-vacation-requests></app-card-vacation-requests>
            <app-card-vacation-requests></app-card-vacation-requests>
        </div>

        <!-- Pagination -->
        <div id="pagination" class="d-flex justify-content-center mt-4"></div>
    </div>
</div>