<!-- Vacation Requests -->
<div class="container mt-4">
    <!-- Vacation Requests Header -->
    <div class="p-4 pb-0">
        <app-title [(searchQuery)]="searchQuery" (selectAllChange)="handleSelectAllChange($event)">
        </app-title>

        <div *ngIf="users.length" class="card-deck d-flex flex-wrap gap-5" id="load-data">
            <app-card-vacation-requests *ngFor="let user of users" [users]="user"
                [photo]="photos[user.id]"></app-card-vacation-requests>
        </div>

        <!-- Pagination -->
        <div id="pagination" class="d-flex justify-content-center mt-4"></div>
    </div>
</div>