<!-- Container -->
<div class="container">
    <div class="w-100 pb-5 pt-5">
        <div class="info profile-container">
            <div class="d-flex justify-content-between p-3 flex-wrap gap-4">
                <div class="d-flex justify-content-between info-part1">
                    <img src="../assets/images/Default.jpg" alt="" />
                    <div class="info-part1-b ms-2">
                        <h6>Ahmad Azmi</h6>
                        <p class="major">Marketing Department</p>
                        <p>Junior Accounting Officer</p>
                    </div>
                </div>
                <div class="info-part2">
                    <button class="btn btn-req">New Request</button>
                </div>
            </div>
            <div class="d-flex justify-content-between p-4 flex-wrap gap-5">
                <div class="d-flex justify-content-between info-part3">
                    <i class="fa-solid fa-user"></i>
                    <div class="info-part3-b ms-2">
                        <h6>Reporting To:</h6>
                        <p>Salwa Assem</p>
                    </div>
                </div>
                <div class="d-flex justify-content-between info-part4">
                    <i class="fa-sharp-duotone fa-solid fa-signal"></i>
                    <div class="info-part4-b ms-2">
                        <h6>Corporate Level:</h6>
                        <p>Level 10</p>
                    </div>
                </div>
                <div class="d-flex justify-content-between info-part4">
                    <i class="fa-solid fa-hourglass-half"></i>
                    <div class="info-part4-b ms-2">
                        <h6>Lifetime</h6>
                        <p>2.5 Years</p>
                    </div>
                </div>
                <div class="d-flex justify-content-between info-part4">
                    <i class="fa-brands fa-pagelines"></i>
                    <div class="info-part4-b ms-2">
                        <h6>Vacation Days Left:</h6>
                        <p>10 Days</p>
                    </div>
                </div>
                <div class="d-flex justify-content-between info-part4">
                    <i class="fa-solid fa-prescription-bottle-medical"></i>
                    <div class="info-part4-b ms-2">
                        <h6>Sick Days Left:</h6>
                        <p>14 Days</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>