<div class="container">

    <app-title></app-title>

    <div class="row pb-5 pt-5 justify-content-between">
        <div class="col-12 col-md-7 mb-3">
            <app-profile-card></app-profile-card>
        </div>
        <div class="col-12 col-md-2 mb-3">
            <app-card-number [requests]="Requests" [reqNum]="ReqNum"></app-card-number>
        </div>
        <div class="col-12 col-md-2 mb-3">
            <app-card-number [requests]="Requests2" [reqNum]="ReqNum2"></app-card-number>
        </div>
    </div>

    <app-carousel></app-carousel>
    <app-vacation-request></app-vacation-request>

</div>