/* /////// container  ///////// */
.btn-req {
  width: 159px;
  font-weight: 500;
  height: 37px;
  font-size: 14px !important;
}
.container .info {
  /* height: 12rem; */
  border-radius: 20px !important;
  box-shadow: 0px 7px 20px 0px rgb(0 0 0 / 24%);
}
.container .user-profile {
  background-color: #f6f6f6;
  width: 45rem;
}
.container .request {
  background-color: #247e3e !important;
}

.info-part1 img {
  height: 50px;
  border-radius: 50%;
}
.info-part1 .info-part1-b {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info-part1 .info-part1-b h6,
p {
  margin: 0 !important;
}
.info-part1 .info-part1-b p {
  color: #c3c3c3;
}

.info-part2 .btn-view {
  color: #36874d;
  border: 1px solid #36874d;
  height: 30px;
  font-size: 12px;
  width: 114px;
  font-weight: 600;
}

.info-part3 i {
  font-size: 44px;
  color: #c3c3c3;
}
.info-part3 .info-part3-b {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info-part3 .info-part3-b h6,
p {
  margin: 0 !important;
}
.info-part3 .info-part3-b p {
  color: #c3c3c3;
}
.nav-link.active {
  font-weight: 600 !important;
  color: #fff;
}

.info-part4 i {
  font-size: 44px;
  color: #c3c3c3;
}
.info-part4 .info-part4-b {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info-part4 .info-part4-b h6,
p {
  margin: 0 !important;
}
.info-part4 .info-part4-b p {
  color: #c3c3c3;
}
.request-part1 {
  width: 33rem;
}
.request-part1 i,
.request-part1 p,
.request-part1 h3 {
  color: #fff !important;
}

.request-part1 i {
  font-size: 43px;
}
.request-part1 h3 {
  font-size: 72px;
}
.request-part1 p {
  font-size: 12px;
}

.request-part1-a {
  width: 100% !important;
}
