<!-- Carousel -->
<div class="container d-flex flex-column">
    <h5>Latest News:</h5>
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div *ngFor="let photo of photos | slice:0:5; let i = index" class="carousel-item" [class.active]="i === 0">
                <img [src]="photo.url ? photo.url : 'assets/images/NoImage.jpg'" class="d-block w-100"
                    [alt]="photo.title" />
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ photo.title }}</h5>
                    <p>
                        {{ photo.title }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
</div>