<div class="d-flex justify-content-between Requests">
    <div class="d-flex justify-content-start align-items-center">
        <fa-icon [icon]="listCheck" class="icon p-2"></fa-icon>
        <h4 class="ms-2">Vacation Requests</h4>
    </div>

    <div class="border border-black rounded-5 p-2 h-100">
        <app-search-vacation-card [(searchQuery)]="searchQuery"
            (searchQueryChange)="onSearchChange($event)"></app-search-vacation-card>
    </div>
</div>
<hr />

<div class="d-flex justify-content-between mb-4">
    <div>
        <input type="checkbox" id="select-all" (change)="onCheckboxChange($event)" />
        <label for="select-all" class="select-all ms-2">Select All</label>
    </div>
    <div>
        <i class="fa-solid fa-filter"></i>
    </div>
</div>