<!-- Header with title, search, and select all -->
<div class="d-flex justify-content-between Requests">
    <div class="d-flex justify-content-start align-items-center">
        <i class="fa-solid fa-list-check" aria-hidden="true"></i>
        <h4 class="ms-2">Vacation Requests</h4>
    </div>

    <div class="search-container p-2">
        <form action="" method="post">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="search" name="search" id="search" placeholder="Search..." class="ms-2" />
        </form>
    </div>
</div>
<hr />

<!-- Select All and Filter -->
<div class="d-flex justify-content-between mb-4">
    <div>
        <input type="checkbox" id="select-all" />
        <label for="select-all" class="select-all ms-2">Select All</label>
    </div>
    <div>
        <i class="fa-solid fa-filter"></i>
    </div>
</div>