<div class="container mt-4">
    <div class="history p-4 pb-0 bg-light rounded-3 shadow">
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <i class="fa-solid fa-list-check fs-1 text-success"></i> <!-- Bootstrap utility classes -->
                <h4 class="ms-2 mb-0">History</h4> <!-- Remove margin bottom -->
            </div>
        </div>
        <hr />
        <!-- Cards -->
        <div class="row g-3">
            <app-history-card *ngFor="let post of posts | slice:0:8;" [post]="post"
                class="col-6 col-md-4 col-lg-2"></app-history-card>
        </div>
        <app-view-more />
    </div>
</div>