<div class="container mt-4">
    <div class="history p-4 pb-0">
        <div class="d-flex justify-content-between">
            <div class="d-flex justify-content-start align-items-center">
                <i class="fa-solid fa-list-check" aria-hidden="true"></i>
                <h4 class="ms-2">History</h4>
            </div>
        </div>
        <hr />
        <!-- Cards -->
        <div class="card-deck d-flex flex-wrap justify-content-between align-items-stretch align-content-around gap-3">
            <app-history-card></app-history-card>
            <app-history-card></app-history-card>
            <app-history-card></app-history-card>
            <app-history-card></app-history-card>
            <app-history-card></app-history-card>
            <app-history-card></app-history-card>
            <app-history-card></app-history-card>
            <app-history-card></app-history-card>
            <app-history-card></app-history-card>
            <app-history-card></app-history-card>
        </div>
        <!-- View More -->
        <div class="w-100 d-flex justify-content-end p-3">
            <a href="./Request.html" class="view-more">View More ></a>
        </div>
    </div>
</div>